.card-datasheet > table, .card-datasheet > td, .card-datasheet > th {
  border: 1px solid;
}

.card-datasheet > td {
  padding: 4px;
}

.card-datasheet > table {
  width: 100%;
  border-collapse: collapse;
}

.text-rigth {
  text-align: right;
}
